@model EShopApp.Models.Phone

@{
    ViewBag.Title = "Описание";
}

<h2>Details</h2>

<div>
    <h4>Телефон</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dd>
            <img src="~/Content/Images/@Html.DisplayFor(model => model.ImageFile)"
                 height="300" width="300"/>            
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.HiddenFor(model => model.ID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="To Cart" />
    }
</p>

